<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Aref+Ruqaa+Ink&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <title>Layout</title>
</head>

<body>
    <div class="header">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
    </div>
    <div class="body1">
        <div class="body1_left_block">
            <p class="h1_for_body1">NEXT GENERATION PLATFORM
            </p>
        </div>
        <img src="/img/rocket_man.png" alt="rocket&man">
    </div>
</body>

</html>