@media (max-width: 1200px) {
	.clients__item-descr {
		text-align: center;
	}

	.form__input {
		width: 100%;
	}

	.footer__container {
		justify-content: space-between;
	}

	.footer__left {
		margin-right: 0;
	}

	.footer__nav {
		margin-right: 28px;
	}

	.social {
		gap: 16px;
	}

	.footer__nav .nav__item:not(:last-child) {
		margin-right: 20px;
	}
}

@media (max-width: 992px) {
	.header__nav {
		display: none;
	}

	.header__button {
		padding: 11px 20px;
		margin-right: 7px;
	}

	.burger {
		position: relative;
		display: block;
		width: 40px;
		height: 40px;
		border: 1px solid currentColor;
		border-radius: 3px;
		color: var(--color-blue);
	}

	.burger__line {
		content: "";
		position: absolute;
		left: 50%;
		width: 20px;
		height: 2px;
		border-radius: inherit;
		background-color: currentColor;
		transform: translateX(-50%);
	}

	.burger__line:nth-child(1) {
		top: 13px;
	}

	.burger__line:nth-child(2) {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.burger__line:nth-child(3) {
		bottom: 13px;
	}

	.blog-preview {
		height: 100%;
	}

	.blog-preview-image {
		max-width: 170px;
	}

	.blog-preview-text {
		padding-left: 15px;
		width: 160px;
	}

	.clients__list {
		justify-content: center;
		--offsets: 1;
	}

	.clients-padding-reset-left:nth-child(odd) {
		padding-left: 0;
	}

	.clients-padding-reset-left:nth-child(even) {
		padding-right: 0;
	}

	.services__list {
		row-gap: 20px;
	}

	.services-padding-left-reset:nth-child(odd) {
		padding-left: 0;
		padding-right: 10px;
	}

	.services-padding-left-reset:nth-child(even) {
		padding-right: 0;
		padding-left: 10px;
	}

	.articles-padding-reset-left:nth-child(odd),
	.articles-padding-reset-right:nth-child(even) {
		padding: 0;
	}

	.contacts-padding-left-reset:nth-child(odd) {
		padding-left: 0;
	}

	.contacts-padding-left-reset:nth-child(even) {
		padding-right: 0;
	}

	.footer__container {
		flex-direction: column-reverse;
		align-items: center;
		gap: var(--gap);
	}
}

@media (max-width: 768px) {
	/* .services__list {
		--offsets: 1;
	} */

	/* .articles__list {
		--offsets: 0;
	} */

	.clients__list {
		row-gap: 15px;
	}

	.clients-padding-reset-left:nth-child(odd),
	.clients-padding-reset-left:nth-child(even) {
		padding: 0;
	}

	.blog-preview-text {
		width: 100%;
		padding-right: 30px;
	}

	.blog-preview-descr {
		max-width: 100%;
	}

	.footer__nav {
		margin-right: 15px;
	}

	.footer__nav .nav__item:not(:last-child) {
		margin-right: 15px;
	}
}

@media (max-width: 576px) {
	.hero {
		background-position: 55%;
	}

	.services__item-icon {
		margin-bottom: 13px;
		height: 42px;
	}

	.services__item-descr {
		font-size: 12px;
	}

	.clients__list {
		--offsets: 0;
	}

	.contacts-padding-left-reset:nth-child(odd),
	.contacts-padding-left-reset:nth-child(even) {
		padding: 0;
	}

	.contacts__item {
		width: 100%;
	}

	.form__top {
		flex-direction: column;
	}

	.form__top-left {
		width: 100%;
	}

	.form__top-right {
		width: 100%;
	}

	.form__bottom {
		justify-content: center;
	}

	.footer {
		padding: 30px 0 15px;
	}

	.footer__right {
		flex-direction: column;
		align-items: start;
		gap: 30px;
		width: 100%;
	}

	.footer .nav__list {
		flex-wrap: wrap;
		gap: 15px 30px;
	}

	.footer__nav .nav__item:not(:last-child) {
		margin-right: 0;
	}

	.footer__left {
		flex-direction: column;
		gap: var(--gap);
		width: 100%;
	}

	.hero {
		padding: 31px 0 2px;
		background-image: none;
	}

	.hero__title {
		margin: 0 0 15px;
	}

	.hero__description {
		margin: 0 0 15px;
	}

	.hero__wrapper {
		width: 100%;
	}

	.hero__btn {
		padding: 19px 0 20px;
		width: 100%;
		letter-spacing: -0.4px;
	}

	.form {
		padding: 0;
	}

	:root {
		--gap: 15px;
	}

	.logo {
		width: 80px;
	}

	.section-offset {
		padding: 60px 0;
	}

	.section-title {
		margin-bottom: 16px;
		text-align: left;
	}

	.header {
		padding: 15px 0;
	}

	.header__button {
		padding: 11px 20px 11px 20px;
		margin-right: 8px;
		letter-spacing: -0.4px;
	}

	.services__title {
		text-align: start;
	}

	.services__description {
		margin-bottom: 17px;
		text-align: start;
		line-height: 21px;
	}

	.services__description-break {
		display: block;
	}

	.services__list {
		row-gap: 20px;
	}

	.services__item {
		padding: 15px 16px;
		min-height: 221px;
	}

	.services__item-title {
		margin-bottom: 3px;
		line-height: 21px;
		font-size: 16px;
	}

	.blog-preview {
		min-height: 191px;
	}

	.blog-preview-image {
		min-width: 86px;
		width: 86px;
		height: 100%;
	}

	.blog-preview-text {
		justify-content: center;
		padding: 0 30px 0 15px;
	}

	.blog-preview-time {
		margin-bottom: 3px;
	}

	.blog-preview-title {
		margin-bottom: 3px;
	}

	.clients {
		padding-bottom: 65px;
	}

	.clients__item-descr {
		padding: 21px 20px 31px 20px;
		text-align: left;
		line-height: 178%;
	}

	.clients__item-descr::after {
		left: 7%;
		width: 86%;
	}

	.clients__user {
		padding: 30px 0 11px 17px;
		align-self: start;
	}

	.clients__avatar {
		margin-right: 15px;
		width: 72px;
	}

	.clients__name {
		margin-top: -3px;
		margin-bottom: 0;
		line-height: 140%;
	}

	.contacts__item {
		padding-top: 39px;
	}

	.contacts__item-caption {
		margin-bottom: 10px;
	}

	.contact-item-call {
		background-position: 4px 3px;
		background-size: 22px 22px;
	}

	.join-us__description {
		display: none;
	}

	.join-us__description-mobile {
		display: block;
		line-height: 22px;
	}

	.form__input {
		padding: 13px 19px 16px 19px;
	}

	.form__select {
		background-position: calc(100% - 20px);
	}

	.form__select:focus {
		background-position: calc(100% - 20px);
	}

	.form__top {
		gap: 13px;
		margin-bottom: 12px;
	}

	.form__top-left {
		gap: var(--gap);
	}

	.form__textarea {
		min-height: 240px;
		padding: 11px 19px;
	}

	.form__wrapper {
		gap: 17px;
		width: 100%;
	}

	.form__btn {
		padding: 20px 67px 21px 67px;
		width: 100%;
	}

	.form__checkbox {
		padding-left: 18px;
	}

	.footer__container {
		padding: 0 13px;
		gap: 28px;
	}

	.footer .nav__list {
		row-gap: 16px;
		padding-left: 3px;
	}

	.social {
		gap: 27px;
	}

	.footer__logo {
		align-self: center;
		margin-right: 208px;
	}

	.footer__copy {
		padding-top: 15px;
		width: 100vw;
		border-top: 1px solid var(--color-gray);
		text-align: center;
	}

	.footer__left {
		gap: 27px;
	}
}
